

.conf {
    font-size: 16px !important;
    font-style: italic !important;
    margin: 5px auto 0px;
}
.leader {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 45px;
    font-weight: 600;
    color: #343a40;
}
.leader-detail {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 30px;
    font-weight: 200;
    color: #343a40;
}

.paper {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 40px;
    font-weight: 500;
    color: #343a40;
}

.project-title {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 34px;
    font-weight: 600;
    color: #343a40;
}

.experience-title {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 34px;
    font-weight: 600;
    color: #343a40;
}
.experience-employer {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 26px;
    font-weight: 200;
    color: #343a40;
}
.school-title {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 34px;
    font-weight: 600;
    color: #343a40;
}
.school-degree {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 26px;
    font-weight: 200;
    color: #343a40;
}

.skill-list {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 34px;
    font-weight: 600;
    color: #343a40;
}

p.skill {
    font-size: 19px;
    color: #495057;
  }
  
.tag {
    padding-bottom: 5px;
    font-family: Arial;
}

span.label-success {
    background-color: #5cb85c;
}
span.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.tab {
    display: inline-block;
    margin-left: 50px;
}


/* xs */
img {
    width: 70%;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    img {
        width: 75%;
    }
}
/* md */
@media (min-width: 992px) {
    img {
        width: 75%;
    }
}
/* lg */
@media (min-width: 1200px) {
    img {
        width: 75%;
    }
}

#paper img{
    width:"250%";
}